body {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    word-break: break-word;
    /* until control all mq */
}


/*
yellow #DC9C24
purple #7C629D
red #C7564F
blue #2C4083
*/

.grayFont {
    color: #ACACAF !important;
}

.redFont {
    color: #C7564F;
}

.yellowFont {
    color: #DC9C24;
}

.purpleFont {
    color: #7C629D;
}

.blueFont {
    color: #2C4083;
}

h2 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .8rem;
}

.navbar-brand img {
    height: 3rem;
}

.rs-icons {
    color: #FFF;
    font-size: 1.5rem;
    padding: .2rem .3rem;
}

.nav-line {
    border-color: white;
    width: 60%;
    margin-right: 0;
}

.navbar-nav .nav-item .nav-link {
    font-size: .9rem;
    color: #FFF;
}


/*
.navbar-nav .nav-item.active {
    text-decoration: underline;
}
*/

.dropdown-menu {
    min-width: auto !important;
}

.btn-language {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.yellow-btn {
    background-color: #DC9C24;
    color: #FFF;
}

.btn-language img,
.dropdown-language .dropdown-menu .dropdown-item img {
    border-radius: 50%;
    border-color: #FFF;
    max-width: 2.5rem;
}
/*
.firstCarousel div.owl-stage-outer {
    height: 100vh;
}
*/

.firstCarousel .car-first-slide {
    background-image: url(../img/edifito-app-para-moviles.jpg);
}

.firstCarousel .car-second-slide {
    background-image: url(../img/edifito-transformar-la-gestion.adminsitrativa.jpg);
}

.firstCarousel .owl-slides {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: inset 0px 200px 244px 101px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: inset 0px 200px 244px 101px rgba(0, 0, 0, 0.82);
    box-shadow: inset 0px 200px 244px 101px rgba(0, 0, 0, 0.82);
}

.owl-carousel div .textoverlay{
    position:absolute;
    display:block;
    top: 40%;
    width: 80%;
    left: 10%;
}

.car-box {
    width: 45rem;
    padding: 30rem 7rem;
}

.owl-nav {
    width: 100%;
    position: absolute;
    top: 55%;
    display: flex;
    justify-content: space-between;
    padding: 0rem 3rem;
    max-height: 6rem;
}

.owl-nav button i {
    font-size: 3rem;
    color: #FFF;
}

.owl-nav button:focus {
    outline: none;
}

.moreInfo div {
    background-color: #2C4083;
    position: relative;
    z-index: 20;
    opacity: .9;
}

.closeMoreInfo {
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.leaders {
    background-color: #ACACAF;
}

.leaders h4 {
    letter-spacing: .8rem;
}

.leaders .leaders-p {
    font-size: 1rem;
}

.leaders .leaders-counter {
    font-size: 2rem;
}

.rol-card, .bckcolor-gray {
    background-color: #F1F1F1;
}

.rol-row .rol-card:nth-child(1) {
    border-left: #C7564F .8rem solid
}

.rol-row .rol-card:nth-child(2) {
    border-left: #7C629D .8rem solid
}

.rol-row .rol-card:nth-child(3) {
    border-left: #DC9C24 .8rem solid
}

.rol-row .rol-card:nth-child(4) {
    border-left: #2C4083 .8rem solid
}

.rol-more {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

.rol-red {
    background-color: #C7564F;
}

.rol-purple {
    background-color: #7C629D;
}

.rol-yellow {
    background-color: #DC9C24;
}

.rol-blue {
    background-color: #2C4083;
}

@media (min-width: 768px) {
    h2 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    .navbar-expand-md .navbar-collapse {
        display: block !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-brand img {
        height: 4rem;
    }
    .owl-carousel div .textoverlay {
        width: 45%;
    }
    .moreInfo {
        margin-top: -15rem;
    }
    .leaders .leaders-p {
        font-size: 1.7rem;
    }
    .leaders .leaders-counter {
        font-size: 2.3rem;
    }
    .leaders .leaders-border-right {
        border-right: 3px solid #FFF;
    }
}